<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=Shopping</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">1234$</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    <mapping class="Entities.ChiTietDonHang"/>
    <mapping class="Entities.DonHang"/>
    <mapping class="Entities.KhachHang"/>
    <mapping class="Entities.NhomSanPham"/>
    <mapping class="Entities.QuanTri"/>
    <mapping class="Entities.QuangCao"/>
    <mapping class="Entities.SanPham"/>
    <mapping class="Entities.ThanhToan"/>
    <mapping class="Entities.VanChuyen"/>
    <mapping class="Entities.UaThich"/>
    <mapping class="Entities.NhaCungCap"/>
  </session-factory>
</hibernate-configuration>
